body {font-family: verdana; font-size: 16px;}
input {margin-bottom: 10px;}
input#address {height: 33px; width: 400px; font-size: 18px; padding-left: 10px; }
input#btnBalance,input#btnTx {height: 36px; width: 100px; font-size: 20px; margin-left: 10px;}
h1 {display: inline-block;}
th {padding: 0px 20px 10px 0px; text-align: left; font-size: 20px; color: #c0c0c0;}
td {padding-right: 20px;}
td#transaction,td#balance,td#realtime {vertical-align: top;}
span.mark {padding-right: 10px; padding-left: 10px;}
a { text-decoration: none; color: #404040;}
div#status {margin-left: 12px;}
.str {text-align: left;}
.val {text-align: right;}
.hidden {display: none;}
.currency {font-family: "Lucida Console", Monaco, Monospace; font-size: 20px; color:#FFFFFF; padding: 1px 3px 1px; border-radius: 3px;}
.number {font-size: 24px; color: #000000;}
.marker {font-weight: bold;}
.gateway {font-size: 14px; color: #0066FF;}
#Send,#Sell {color: #990033;}
#Receive,#Buy {color: #47A347;}
#Exchange {color: #333399;}